{{page-title "Login"}}

<form {{on "submit" this.login}}>
  <label for="username">Username:</label><br>
  <input required type="text" id="username" name="username" placeholder="Username"><br>
  <button type="submit">Login</button>
</form>
