{{page-title "Register"}}

<form {{on "submit" this.register}}>
  <label for="username">Username:</label><br>
  <input required type="text" id="username" name="username" placeholder="Username"><br>
  <label for="email">Email:</label><br>
  <input required type="email" id="email" name="email" placeholder="Email">
  <button type="submit">Register</button>
</form>